@charset "UTF-8";
h1 {
	margin: 0 0 60px 0;
}

input.info {
	font-size: 15px;
	width: 600px;
	height: 40px;
	margin: 0 0 20px 0;
}


table.check_in, table.passengerInfo {
	border: 1px, solid;
	width: 600px;
	height: 100px;
	margin: 20px 0;
}

tr.table_top_line {
	background-color: #1b4a92;
	color: white;
}

img {
	width: 30px;
	height: 30px;
}

tr {
	border: 1px, solid;
}

td {
	border: 1px, solid;
}


div {
	padding: 0 0 5px 0;
}
