/* 모든 a 태그 밑줄 제거 */
a {
	text-decoration:none;
	
}

.verify-container{
    margin : 0 auto;
    padding : 0 3rem;
    width: 100%;
    height: 100%;
    max-width: 1400px;
}

.circle{
    color:#DE001B;
    font-size : 0.1px;
}
.verify-form{
    margin-top: 1.3rem 
}
.verify-form label{
    display: block;
    margin-bottom:0.5rem;
}
.verify-form input{
    display: block;
    width: 100%;
    height: 50px;
    border : none;
    border-bottom:1px #D9DBE1 solid;
}
.verify-form .id{
    pointer-events: none;
}
.verify-form input:focus{
    outline: 1px solid #0153B2;
}

.verify-form input:hover{
    border : 1px solid #0153B2;
    transition: 0.1s;
    transform : translate(0,-2px);
    padding-left: 5px;
}
.verify-button{
    display:flex;
    margin-top: 4rem;
    width: 100%;
    justify-content: space-around;
}
.verify-button button{
    width : 306px;
    height : 55px;
}

.verify-button .verify{
    background: #013066;
    color : #fff;
    border : 1px #D9DBE1 solid;
}
.verify-button .verify:hover{
   cursor : pointer;
   border: 4px groove #fff;
}
.verify-button .cancel{
    background: #fff;
    color : #013066;
    border : 1px #D9DBE1 solid;
}
.verify-button .cancel:hover{
   cursor : pointer;
   border: 2px groove #013066;
}

#nec-info{
    margin-top : 1rem;
    color : #DE6574;
    display: none;
}
#re-verify-pw{
    margin-top : 1rem;
    color : #DE6574;
    display: none;
}