@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
	font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

/* 로고 */

div.mainLogo {
	display:inline;
	
}

img {
	width : 30px;
	height: 30px;
}
/* 전체 위 간격 */
div {
	margin-top:10px;
}


/* 공항, 비행기, 여행지 정보 */

/* 모든 a 태그 밑줄 제거 */
a {
	text-decoration:none;
	
}
div.impormation {
	
	display:inline;
	position: absolute;
	left: 40%
	
}


a.planeButton{
	margin-left:30px;
}

a.travelButton{
	margin-left:30px;
}


a.myPage{
	margin-left:30px;
}

/* 로그아웃 버튼 */
div.logoutButton {
	display:inline;
	float: right;
}


/* 출발지, 도착지 */
div.start_end {
	text-align: right;	
	
}

/* 탑승일 도착일 */
div.boardingDate {
	text-align: right;	
}

/* 인원수 선택 */
div.selectNumberOfMember {
	text-align: right;	
}

/* 좌석 등급 선택 */
div.selectSeat {
	text-align: right;
}

/*예약조회, 체크인, 항공편 현황 */
div.menu {
	text-align:center;
	
} 


a.checkIn{
	margin-left:30px;
}

a.airLineList{
	margin-left:30px;
}

/* 비행기 조회 버튼 */

div.button{
	text-align:right;
}


